.wrapper {
    display: inline-flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    font-family: 'ProximaNova', sans-serif;
    font-weight: 600;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid transparent;
    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.4;
        user-select: none;
    }
}

.primary {
    background-color: var(--primary);
    color: #fff;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

.rounded {
    border-radius: 100px;
    border-color: rgba(22, 24, 35, 0.12);
    box-shadow: 0 2px 8px rgb(0 0 0/ 6%);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 148px;
}
